<p id="notice"><%= notice %></p>

<p>
  <strong>Garage:</strong>
  <%= @accessor.garage %>
</p>

<p>
  <strong>Friend:</strong>
  <%= @accessor.friend %>
</p>

<p>
  <strong>Code:</strong>
  <%= @accessor.code %>
</p>

