<h2>
   <legend ng-hide="isNew">
      Edit A Friend
    </legend>
    <legend ng-show="isNew">
      Add A Friend
    </legend>
</h2>

<!-- When the form is submitted call the save() function within the controller -->
<form class="form-vertical">

    <!-- The control-group, control-label, and controls classes are Bootstrap specific -->
    <div class="control-group">
        <label class="control-label">First Name:</label>
        <div class="controls">
            <!-- This input is tied to the friend.first_name object. -->
            <input type="text" ng-model="friend.first_name"/>
        </div>
        
        <label class="control-label">Last Name:</label>
        <div class="controls">
            <!-- This input is tied to the friend.last_name object. -->
            <input type="text" ng-model="friend.last_name"/>
        </div>
            
        <label class="control-label">Phone Number:</label>
        <div class="controls">
            <!-- This input is tied to the friend.phone_number object. -->
            <input type="text" ng-model="friend.phone_number"/>
        </div>
        
            <!-- If there's any errors that pertain to name display them here! -->
            <div ng-repeat="error in errors.name">{{errors}}</div>
    </div>
    <div class="control-group">
        <div class="controls">
	      <button type="submit" class="main-button" ng-hide="isNew" ng-click="update()" >Update</button>
	      <button type="submit" class="main-button" ng-hide="isNew" ng-click="destroy()" >Delete</button>
	      <button type="submit" class="main-button" ng-show="isNew" ng-click="save()" >Add</button>
    	</div>
    </div>
</form>