<h2>List of Garages</h2>

<div class="row">

    <div class="span9">

        <!-- This will only show when there's no items to let the user know there's purposefully nothing there.. -->
        <div ng-show="items.$resolved && items.length == 0">
            <hr/>
            <h4>There's nothing here...</h4>

            <p>Use the 'Add' button to create a new garage!</p>
        </div>

        <!-- A nice table that will contain a list of Garages -->
        <table class="table table-hover">
            <!-- This will create a row for every item within our items object (both of these refer to the garages -->
            <tr ng-repeat="item in items">
                <td width="50%"><a href="#/garage/{{item.id}}/show">{{item.name}}</a> 
			      <button type="submit" class="main-button" ng-click="destroy($index)" >Remove</button></td>
                <td width="10%">{{item.state}}</td>
                <!-- When the user clicks this button it will call the 'destory()' method within the controller -->
                <td>
			      <button type="submit" class="main-button" ng-show="item.state=='closed'" ng-click="openIt($index)" >Open It</button>
			      <button type="submit" class="main-button" ng-show="item.state=='open'" ng-click="closeIt($index)" >Close It</button>
                </td>
            </tr>
        </table>

    </div>

    <br />
    <div class="span3">

	      <button type="submit" class="main-button" ng-click="addNewGarage()" >Add A Garage</button>

    </div>
</div>